{% extends 'base.html.twig' %}

{% block title %}EasyAdmin Custom{% endblock %}

{% block body %}

    <a href="{{ path('easy_admin_custom') }}">Назад</a>

    <h1>Добавить Articles</h1>

    {{ form_start(form_add_article) }}
    {{ form_widget(form_add_article) }}
    {% if add != 'false' %}
        <button type="submit">Добавить</button>
    {% else %}
        <button type="button" onclick="updateArticle()">Добавить</button>
    {% endif %}
    {{ form_end(form_add_article) }}

    {% block javascripts %}
        <script src="{{ asset('js/eventFormUpdateRecord.js') }}"></script>
    {% endblock %}

{% endblock %}