{% extends 'base.html.twig' %}

{% block title %}EasyAdmin Custom{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    <h1>EasyAdmin Custom</h1>

    <a href="{{ path('easy_admin_custom') }}">Articles</a>
    <a href="{{ path('easy_admin_custom_categories') }}">Categories</a>

    <h2>Articles</h2>

    {% if key == 'articles' %}
        <input class="alert-info" type="button" value="Добавить Articles"
               onclick="location.href='{{ path("easy_admin_custom_articles_add") }}'"/>

        <table border="1">
            <tr>
                <th>Название</th>
                <th>Загаловок</th>
                <th>Категория</th>
                <th>Дата</th>
                <th>Текст</th>
            </tr>

            {% for article in articles %}
                <tr>
                    <th>{{ article.Name }}</th>
                    <th>{{ article.Headline }}</th>
                    <th>{{ article.Category }}</th>
                    <th>{{ article.getDate()|date('Y-m-d H:i:s') }}</th>
                    <th>{{ article.ArticleText }}</th>
                    <th><a href="" onclick="updateArticle({{ article.id }})">Изменить</a></th>
                    <th><a href="{{ path('easy_admin_custom_articles_delete', { id: article.id }) }}">Удалить</a></th>

                </tr>
            {% endfor %}

        </table>

    {% elseif key == 'categories' %}
        <input class="alert-info" type="button" value="Добавить Categories"
               onclick="location.href='{{ path("easy_admin_custom_categories-add") }}'"/>

        <table border="1">
            <tr>
                <th>Название</th>
            </tr>

            {% for category in categories %}
                <tr>
                    <th>{{ category.Name }}</th>
                    <th><a href="" onclick="updateCategory({{ category.id }})">Изменить</a></th>
                    <th><a href="{{ path('easy_admin_custom_category_delete', { id: category.id }) }}">Удалить</a></th>
                </tr>
            {% endfor %}

        </table>
    {% endif %}

    {% block javascripts %}
        <script src="{{ asset('js/eventFormUpdateRecord.js') }}"></script>
    {% endblock %}

{% endblock %}
