{% extends 'base.html.twig' %}

{% block title %}EasyAdmin Custom{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    <h1>EasyAdmin Custom</h1>

    <a href="{{ path('easy_admin_custom') }}">Articles</a>
    <a href="{{ path('easy_admin_custom') }}">Categories</a>

    <h2>Articles</h2>

    <input class="alert-info" type="button" value="Добавить Articles"
           onclick="location.href='{{ path("easy_admin_custom_articles_add") }}'"/>

    <table>
        <tr>
            <th>Название</th>
            <th>Загаловок</th>
            <th>Категория</th>
            <th>Дата</th>
            <th>Текст</th>
        </tr>

        {% for article in articles %}
            <tr>
                <th>{{ article.Name }}</th>
                <th>{{ article.Headline }}</th>
                <th>{{ article.Category }}</th>
                <th>{{ article.getDate()|date('Y-m-d H:i:s') }}</th>
                <th>{{ article.ArticleText }}</th>
{#                Это доработать#}
{#                <th><a href="{{ path('easy_admin_custom'), { id: article.id } }}">Изменить</a></th>#}
{#                <th><a href="{{ path('easy_admin_custom'), { id: article.id } }}">Удалить</a></th>#}
            </tr>
        {% endfor %}

    </table>

    {% block javascripts %}
        {# <script  src="/public/js/EventJs.js"></script> #}
    {% endblock %}

{% endblock %}
